.navbar {
  margin-bottom: 0;
  border-radius: 0px;
}

#dettagli_ordine{
  margin-left: 10px;
  margin-right: 10px;
}

header {
  background-color: #00004d;
  text-align: center;
  color: #ffffff;
  padding: 15px;
  margin-bottom: 20px;
}

header > button {
  background-color: #D2D2D2;
  color: black;
}

.media > .pull-left{
  padding-right: 4px;
}

.media{
  text-align: center;
}

.ord-info{
  align-items: center;
  align-content: center;
  text-align: center;
}

.col-titles{
  text-align: center;
  /*margin-bottom: 2%;*/
  padding: 0.5%;
  font-weight: bold;
  border-bottom: solid;
  border-style: groove;
  border-width: thin;
}

legend {
  text-align: center;
}

.det{
  margin-bottom: 2%;
}


.det{
  background-color: white;
  border-color: #182944;
  border-width: 2px;
  color: #182944;
  font-weight: bold;
  width: 100%;
  padding-bottom: 3px;
  padding-top: 3px;
  margin-top: 3%;
}

.selectpicker{
  width: 100%;
}
.det:hover{
  background-color: #5474a8;
  border-style: none;
  color: white;
  font-weight: bold;
}

label{
  display: none;
}
.order{
  padding-bottom: 1%;
  padding-top: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
}

.order{
  background-color: #e1e1e1;
}

.mod-msg{
  display: block;
  margin-left: 2%;
  margin-right: 2%;
}

.modal-msg-title{
  font-size: 18px;
  text-align: left;
  color: black;
}
.btn-delete{
  background-color: #5bc0de;
}

.btn-exit{
  background-color: #fff;
  border-color: #ccc;
  color: #333;
}


.btn.btn-info.bottone_dettagli {
  width: 70%;
}

#cont{
  margin-left: 10px;
  margin-right: 10px;
}

#usr-img{
  display: block;
  width: 60%;
  margin: 0 auto;
}

#utente{
  text-align: center;
}

.order{
  text-align: center;
  display: flex;
  align-items: center;
}

#status{
  width: 100%;
}
.btn.btn-info.bottone_stato {
    width: 100%;
}

.image{
  width: 20%;
}
.nome-prodotto{
  width: 20%;
}
.quantità{
  width: 20%;
}
.impasto{
  width: 20%;
}
.aggiunte{
  width: 20%;
}



@media only screen and (max-width: 767px) {
  #usr-ord-titles{
    display: flex;
    flex-direction: row;
  }
  .c1{
    width: 20%;
  }
  .c2{
    width: 20%;
  }
  .c3{
    width: 20%;
  }
  .c4{
    width: 20%;
  }
  .c5{
    width: 20%;
  }
  #det-titles{
    display: flex;
    flex-direction: row;
  }
  .image{
    display: none;
  }
  #ord-titles {
    display: none;
  }
  .ord-label{
    display: block;
  }

  .order{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

    justify-content: space-around;
  }

  #utente{
    width: 33%;
    margin-bottom: 10px;
  }
  #codice{
    width: 33%;
    margin-bottom: 10px;
  }

  #data{
    width: 34%;
    margin-bottom: 10px;
  }
  #recapito{
    width: 33%;
  }

  #consegna{
    width: 33%;

  }

  #stato{
    width: 34%;
  }

  .btn.btn-info.bottone_dettagli {
    width: 50%;
  }

  #status{
    width: 80%;
  }
  .btn.btn-info.bottone_stato {
      width: 80%;
  }

  .image{
    width: 0%;
  }
  .nome-prodotto{
    width: 25%;
  }
  .quantità{
    width: 25%;
  }
  .impasto{
    width: 25%;
  }
  .aggiunte{
    width: 25%;
  }
}
@media only screen and (max-width: 600px){

      .c5{
        width: 100%;
      }
    .col-sm-2.field-title.c5{
      display: none;
      width: 0%;
    }

    .c1, .c2, .c3, .c4{
      width: 25%;
    }

    .btn_dettagli{
      width: 80%;
    }

}
@media only screen and (max-width: 490px){
  .det-label{
    display: block;
  }
  .col-sm-3.field-title.aggiunte {
    display: none;
  }
  .nome-prodotto{
    width: 33%;
  }
  .quantità{
    width: 33%;
  }
  .impasto{
    width: 34%;
  }

  .aggiunte{
    width: 100%;
    text-align: center;
  }
  #recapito{
    width: 50%;
  }

  #consegna{
    width: 50%;

  }

  #stato{
    width: 100%;
  }
  #utente{
    width: 100%;
    margin-bottom: 10px;
  }
  #codice{
    width: 50%;
    margin-bottom: 10px;
  }

  #data{
    width: 50%;
    margin-bottom: 10px;
  }

  #usr-img{
    width: 20%
  }

  .btn.btn-info.bottone_stato {
      width: 100%;
  }

  #status{
    width: 100%;
  }

}
@media only screen and (max-width: 360px){

  .c1{
    display: none;
    width: 0%;
  }

  .c2{
    width: 34%;
  }
  .c3, .c4{
    width: 33%;
  }
  #codice{
    width: 100%;
    margin-bottom: 10px;
  }

  #data{
    width: 100%;
    margin-bottom: 10px;
  }
  #recapito{
    width: 100%;
  }

  #consegna{
    width: 100%;

  }

  #stato{
    width: 100%;
  }

}
