.navbar {
  margin-bottom: 0;
  border-radius: 0px;
}

header {
  background-color: #00004d;
  text-align: center;
  color: #ffffff;
  padding: 15px;
  margin-bottom: 20px;
}

header > button {
  background-color: #D2D2D2;
  color: black;
}

.media > .pull-left{
  padding-right: 4px;
}

.media{
  text-align: center;
}

.ord-info{
  align-items: center;
  align-content: center;
  text-align: center;
}

.col-titles{
  text-align: center;
  /*margin-bottom: 2%;*/
  padding: 0.5%;
  font-weight: bold;
  border-bottom: solid;
  border-style: groove;
  border-width: thin;
}

legend {
  text-align: center;
}

.det{
  margin-bottom: 2%;
}

.det{
  background-color: white;
  border-color: #182944;
  border-width: 2px;
  color: #182944;
  font-weight: bold;
  width: 100%;
  padding-bottom: 3px;
  padding-top: 3px;
  margin-top: 3%;
}

.selectpicker{
  width: 100%;
}
.det:hover{
  background-color: #5474a8;
  border-style: none;
  color: white;
  font-weight: bold;
}

.order{
  padding-bottom: 1%;
  padding-top: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
}

.order{
  background-color: #e1e1e1;
}

@media only screen and (max-width: 768px) {
  .col-titles {
    display: none;
  }
}
