body{
  background-color: rgb(239, 239, 239);
}

.navbar{
  margin: 0%;
}
.card-img{
  height: 85px;
  width: 125px;
}

.cart-item{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.titles{
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  border-width: thin;
  background-color: #ddd;
  color: rgb(49, 112, 143);
}

.main-title{
  background-color: rgb(49, 112, 143);
  color: white;
  margin: 0%;
  font-size: 20px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
}

#page{
  border: solid;
  border-width: thin;
  padding-top: 5%;
  padding-bottom: 5%;
}


.main-title p{
  margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.item-detail{
  text-align: center;
}

.row{
  display: flex;
  align-items: center;
}

.cart-item{
  border-bottom: solid;
  border-bottom-color: #c2c9d3;
  border-width: thin;
  padding-top: 1%;
  padding-top: 1%;
}
.card-body{
  text-align: center;
}

#tot{
  text-align: center;
  font-weight: bold;
  color: red;
  font-size: 150%;
}

#tot-label{
  text-align: center;
  font-weight: bold;
  font-size: 130%;
}

.container{
  background-color: #efefef;
}

.main-title{
  padding: 0.5%;
  margin-bottom: 2%;
}

#cart-title{
  padding: 0%;
  border-top-right-radius: 4%;
  border-top-left-radius: 4%;

}
.cart{
  padding-left: 4%;
  padding-right: 4%;
}

.cart-footer{
  background-color: rgb(239, 239, 239);
  width: 30%;
  border: solid;
  border-width: thin;
  border-radius: 3%;
  border-color: #c2c2c6;
  margin-top: 20px;
  margin-right: 4%;
  margin-bottom: 20px;

}

#cart-foot{
  display: flex;
  flex-direction: row-reverse;
}
.part1{
  padding: 3%;
  border-bottom: solid;
  border-width: thin;
  border-color: #c2c2c6;
}

.part2{
  padding: 3%;
  display: flex;
  flex-direction: row-reverse;
}

.btn-lg{
  width: 100%;
}

#cart-tot{
display: flex;
justify-content: flex-end;
}
