.navbar {
  margin-bottom: 0;
  border-radius: 0px;
}

.navbar-right {
  padding-right: 10px;
}

#generale {
  background-color: #ff9f00;
  width: 100%;
  color: white;
}

#generale h1 {
  text-align: center;
  padding-top: 3%;
}

#generale p {
  text-align: right;
  padding-right: 11%;
  padding-bottom: 3%;
}

body {
  background-color: #f1f1f1;
}

#finale {
  display: block;
  background-color: #ff9f00;
  width: 100%;
  color: white;
  bottom: 0px;
}

#finale h3 {
  text-align: left;
  padding-left: 10%;
  padding-bottom: 2%;
  padding-top: 2%;
}

/**/
#staff, #chiosco {
  width: 80%;
  margin-left: 10%;
  background-color: white;
}

#staff, #chiosco {
  margin-top: 1.5%;
}

#staff header, #chiosco header {
  width: 100%;
  padding-top: 2%;
}

#staff h2, #chiosco h2 {
  text-align: left;
  padding-left: 10%;
}

#staff header p {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  text-align: justify;
}

#chiosco p {
  text-align: left;
  padding-left: 10%;
  padding-top: 35px;
  font-style: italic;
}

#staff section, #chiosco section {
  width: 100%;
  margin-left: 10%;
  padding-top: 30px;
  padding-bottom: 5px;
}

table {
  width: 80%;
  margin-bottom: 15px;
}

caption {
  font-family: sans-serif;
}

table, th, td {
  border: 2px solid #dddddd;
  border-collapse: collapse;
}

th, td {
  height: 40px;
  font-family: sans-serif;
  text-align: center;
  font-size: 16px;
}

img {
  width: 80%;
  height: auto;
}

#staff footer, #chiosco footer {
  width: 100%;
  height: 50px;
  background-color: #c6c6c6;
}

#staff footer p, #chiosco footer p {
  text-align: left;
  padding-left: 10%;
  padding-top: 15px;
}

#staff footer p a, #chiosco footer p a {
  text-decoration: none;
  font-family: sans-serif;
  font-style: normal;
}
