body {
	background-color: rgb(180,180,255);
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
	border-radius: 0px;
}

.with-bg-size {
  width: 100%; /* Set width to 100% */
  height: auto;
	background-position: center;
	background-size: cover;
}

.centered-and-cropped {
	width: 100%;
	object-fit: cover;
}



iframe {
	frameborder="0";
}

h2 {
	background-color: gray;
	color: white;
}
