body {
	background-image: url("../../img/Background.jpg");
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
	border-radius: 0px;
}

.navbar-nav li a {
	display: inline-block;
}

.navbar-nav > li > .dropdown-menu {
	background-color: #b4eeb4;
	border-radius: 0px;
}

.navbar-nav > li > .dropdown-menu:hover {
	background-color: #00ee00;
}

.dropdown-menu li {
	height: 25px;
	width: 200px;
}

#social a:hover, #tel a:hover {
	background-color: #00ee00;
}

.text-center {
	margin-top: 325px;
}

iframe {
	frameborder="0";
}

h2 {
	background-color: gray;
	color: white;
}

footer {
	display: block;
  background-color: #ff9f00;
  width: 100%;
  color: white;
  bottom: 0px;
}

footer h5 {
	text-align: center;
  padding-left: 10%;
  padding-bottom: 1%;
  padding-top: 2%;
}

footer small {
	text-align: center;
  padding-bottom: 2%;
}

/*.add-visibility {
	color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}*/
