#img-load{
  height: 5px;
}

.user-data{
  font-size: 160%;
  display: flex;
flex-direction: column;
align-items: center;
}

#ok{
  width: 90%;
  margin-top: 5%;
}

.form-img{
  text-align: center;
}


.user-img{
 width: 30%;
 height: 30%;
 margin-bottom: 5px;
}

.img-load{
  display: flex;
  flex-direction: column;
}

#change-img-label{
  width: 90%;
  background-color: #fff;
  border-color: #ddd;
  color: #333;
}

#change-img-label:hover{
  background-color: #e6e6e6;
  border-color: #adadad;
  color: #333;
}
@media screen and (max-width:767px) {
  #img-loading-area{
    color: #9d9d9d;
  }
  .user-data{
    color: #9d9d9d;
  }

}
