.not-starred {
  background: url("https://www.ibs.it/Content/images/icon_stella_grigia.png") no-repeat;
  background-size: 13px 13px;
  width: 13px;
  height: 13px;
  display: inline-block;
  vertical-align: middle; }

.starred {
  background: url("https://www.ibs.it/Content/images/icon_stella_gialla.png") no-repeat;
  background-size: 13px 13px;
  width: 13px;
  height: 13px;
  display: inline-block;
  vertical-align: middle; }

.usr-img{
  width: 100%;
  height: 100%;
}

body {
  color: #292929 !important;
  position: relative;
  background-image: url(../../img/sfondo.jpg);
  z-index: 1;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden; }

  #product-schedule .schedule-section .review-graph .avg-rank {
    display: inline-block;
    vertical-align: middle;
    text-align: center; }
    #product-schedule .schedule-section .review-graph .avg-rank p {
      font-weight: 500;
      font-size: 16px;
      line-height: 23px;
      display: block;
      margin-top: 0px; }
    #product-schedule .schedule-section .review-graph .avg-rank .rank {
      display: block;
      margin-top: 40px;
      margin-bottom: 25px; }
    #product-schedule .schedule-section .review-graph .avg-rank .all-reviews {
      font-size: 12px;
      font-weight: 600;
      line-height: 14px;
 }
  #product-schedule .schedule-section .review-graph .single-ranks {
    display: inline-block;
    vertical-align: middle; }
    #product-schedule .schedule-section .review-graph .single-ranks .rank-results li {
      font-weight: 400;
      font-size: 12px;
      line-height: 25px;
      overflow: hidden; }
      #product-schedule .schedule-section .review-graph .single-ranks .rank-results li .progress-bar {
        background-image: none;
        width: 180px;
        margin: 0px 12px;
        position: relative;
        background-color: #F6F6F6;
        height: 18px;
        border: solid 1px #d2d2d2;
        float: left;
        box-shadow: none; }
        #product-schedule .schedule-section .review-graph .single-ranks .rank-results li .progress-bar .act-progress {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 90%;
          height: 100%;
          background-color: #F3B000; }
      #product-schedule .schedule-section .review-graph .single-ranks .rank-results li .star-number {
        float: left;
        line-height: 19px; }
      #product-schedule .schedule-section .review-graph .single-ranks .rank-results li .rank-votes {
        float: left; }
  #product-schedule .schedule-section .review-graph .review-leave {
    display: inline-block;
    width: 28%;
    vertical-align: middle; }
    #product-schedule .schedule-section .review-graph .review-leave .cta-write {
      display: block;
      font-size: 13px;
      font-weight: 400;
      color: #ffffff;
      background-color: #0aa5b3;
      line-height: 32px;
      float: right;
      text-align: center;
      border-radius: 5px;
      vertical-align: middle;
      padding: 0 20px;
      text-decoration: none !important; }
    #product-schedule .schedule-section .review-graph .review-leave .cta-write:hover {
      background: #0998a5; }
  #product-schedule .schedule-section .reviews-header {
    display: block;
    margin: 12px 0 -2px 0;
    padding-left: 10px;
    background-color: #f1f1f1; }
    #product-schedule .schedule-section .reviews-header .title {
      display: inline-block;
      margin: 0px;
      font-weight: 500;
      font-size: 12px;
      font-weight: 600;
      line-height: 23px; }
    #product-schedule .schedule-section .reviews-header .select-section {
      float: right;
      display: block;
      font-weight: 400;
      font-size: 12px;
      line-height: 22px;
      display: none; }
      #product-schedule .schedule-section .reviews-header .select-section select {
        height: 28px;
        width: 165px;
        box-sizing: border-box;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        padding-left: 10px;
        padding-right: 18px;
        background-size: auto;
        background-image: url("https://www.ibs.it/Content/images/caret-down.png");
        background-position: right 10px center;
        background-repeat: no-repeat;
        border: 1px solid #CCCCCC;
        border-radius: 5px;
        margin-left: 10px;
        background-color: #ffffff; }
  #product-schedule .schedule-section .review-list li {
    display: block;
    margin: 0px;
    padding-top: 17px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d2d2d2; }
    #product-schedule .schedule-section .review-list li .user-image {
      width: 36px;
      display: inline-block;
      vertical-align: top; }
    #product-schedule .schedule-section .review-list li .user-infos {
      display: inline-block;
      vertical-align: top;
      margin: 0 10px;
      text-overflow: ellipsis !important;
      overflow: hidden !important;
      white-space: nowrap !important;
       }
      #product-schedule .schedule-section .review-list li .user-infos .username {
        margin-bottom: 0px;
        font-weight: 600;
        font-size: 12px;
        line-height: 19px;
        width: 100%; }
      #product-schedule .schedule-section .review-list li .user-infos .register-date {
        margin: 0px;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        margin-bottom: 10px; }
      #product-schedule .schedule-section .review-list li .user-infos .top-reviewer {
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        margin-top: 0px;
        margin-bottom: 10px;
        text-transform: uppercase; }
    #product-schedule .schedule-section .review-list li .review-content {
      width: 100% !important;
      width: -webkit-calc(99% - 196px) !important;
      width: -moz-calc(99% - 196px) !important;
      width: calc(99% - 196px);
      display: inline-block;
      vertical-align: top; }
      #product-schedule .schedule-section .review-list li .review-content .rank {
        margin: 0 0 7px 0; }
      #product-schedule .schedule-section .review-list li .review-content .review-title {
        font-size: 12px;
        font-weight: 600;
        line-height: 14px;
        color: #282828;
        display: block;
        margin-bottom: 0px;
        margin-top: 0px; }
      #product-schedule .schedule-section .review-list li .review-content .purchase-fmt {
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        margin: 0px; }
      #product-schedule .schedule-section .review-list li .review-content p {
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        display: block;
        margin: 5px 0 0 0; }
      #product-schedule .schedule-section .review-list li .review-content .read-more {
        font-size: 13px;
        font-weight: 600;
        line-height: 16px;
 }
  #product-schedule .schedule-section .review-list li:last-child {
    border-bottom: 0px solid transparent; }
  #product-schedule .schedule-section .all-reviews {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}
  #product-schedule .schedule-section .write-review {
    display: inline-block;
    padding: 8px 34px;
    background-color: #0aa5b3;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none !important; }
  #product-schedule .schedule-section .write-review:hover {
    background: #0998a5; }
  #product-schedule .schedule-section-review {
  display: block !important; }
  #product-schedule #essay img {
  display: inline-block;
  margin-bottom: 15px; }
  #product-schedule #essay .show-more-critica {
  margin-bottom: 15px; }
  #product-schedule #essay .show-more-critica strong {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0; }
  #product-schedule #essay .show-more-critica:last-child {
  margin-bottom: 0; }
  #product-schedule #ibs-review .hidden-read-more {
    max-height: 60px; }
  #product-schedule .prod-rev-left {
  display: inline-block;
  width: 60%; }
  #product-schedule .prod-rev-right {
  display: inline-block;
  overflow: hidden;
  text-align: right;
  vertical-align: top;
  width: 38%; }
  #product-schedule .useful-info {
  margin: 50px 0 25px 0;
  overflow: hidden; }
  #product-schedule .useful-info .title {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    margin: 0; }
  #product-schedule .useful-info .useful-content {
    margin: 50px 0 0 0;
    overflow: hidden; }
    #product-schedule .useful-info .useful-content .args-list {
      float: left;
      display: block;
      width: 225px;
      border-right: 1px solid #C0C0C0; }
      #product-schedule .useful-info .useful-content .args-list li {
        padding-right: 23px;
        width: 100%;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        position: relative;
        margin-bottom: 25px;
        cursor: pointer;
        position: relative; }
      #product-schedule .useful-info .useful-content .args-list li:first-child {
        margin-top: 25px; }
      #product-schedule .useful-info .useful-content .args-list .toggled::before {
        content: '';
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%) translateX(1px);
        border-top: 24.5px solid transparent;
        border-bottom: 24.5px solid transparent;
        border-left: 0px solid transparent;
        border-right: 24.5px solid #c0c0c0; }
      #product-schedule .useful-info .useful-content .args-list li.toggled::after {
        content: '';
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%) translateX(1px);
        border-top: 23px solid transparent;
        border-bottom: 23px solid transparent;
        border-left: 0px solid transparent;
        border-right: 23px solid #ffffff; }
    #product-schedule .useful-info .useful-content .arg-text {
      float: left;
      display: block;
      width: calc(100% - 226px);
      padding: 0px 15px;
      box-sizing: border-box;
      margin-top: 35px;
      position: absolute;
      right: 0; }
    #product-schedule .useful-info .useful-content p {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      margin: 0px;
      display: none;
      position: absolute;
      top: 0; }
    #product-schedule .useful-info .useful-content p.section1 {
      display: block; }
    #product-schedule .useful-info .useful-content .know-more {
      font-size: 12px;
      font-weight: 600;
      line-height: 14px;
 }

#product-schedule .schedule-content {
  padding: 30px 15px;
  line-height: 25px;
}

.prod-img-holder{
  text-align: center;
}
.comment {
  border-bottom: 1px solid #d2d2d2; }

.prod-img{
  max-width: 80%;
}

.ingredienti{
text-align: center;

}

.prodotto{
  display: flex;
  align-items: center;
  padding-top: 5%;
}

.prodotto h2{
  margin-top: 0px;
}

.review-graph{
  text-align: center;
}

.aside{
  text-align: center;
  padding-top: 20px;

}

.aside button{
  margin-bottom: 5%;
}
#price-cont{
  font-size: 200%;
  color: red;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 5%;
}

.euro{
  margin-right: 0%;
}

.rank-results li{
  list-style-type: none;
}

.wrapper{
  margin-top: 2%;
}

@media (max-width: 314px) {
  #product-schedule .schedule-section .review-graph .single-ranks .rank-results li .progress-bar{
    width: 140px;
  }
}
@media (max-width: 650px) {
  .prodotto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .ingredienti{
    margin-top: 20px;
  }

  .review-graph{
    display: flex;
    flex-direction: column-reverse;
  }

  .rank-results{
    padding-left: 0px;
  }
  .avg-rank{
    text-align: left;
  }

}
