
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

  #popupAddReview .votes li {
    float: left;
    margin: 0 5px;
    cursor: pointer; }

  #popupAddReview .votes li.bold {
    font-weight: 600; }

    .price {
    font-size: 1.1em;
    margin-bottom: 0;
    padding-top: 2%;
    color: red;
    font-weight: 600;
}

.product-name{
  font-size: 21px;
  color: #0aa5b3;
  margin-bottom: 0px;
}
#popupAddReview #sendReview, #popupAddReview #changeReview, #popupAddReview #confirmReview {
    padding: 8px;
    text-align: center;
    background-color: #0aa5b3;
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    display: block;
    width: 100px;
    box-sizing: border-box;
    border-radius: 4px;
    text-decoration: none !important;
    border: none;
    float: right;
    margin-left: 8px;
}
.details{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.img-cont img{
  max-width: 160px;
}

.lead{
  padding-left: 15px;
}
@media screen and (max-width:990px) {
  .img-cont{
    text-align: center;
  }
  .img-cont img{
    max-width: 200px;
  }

  .product-ing{
    margin-top: 20px;
  }

    .votes{
      visibility: hidden;
    }

    .valut-container{
      text-align: center;
    }

    .glyphicon{
      font-size: 200%;
    }

    .lead{
      margin-bottom: 0%;
      margin-top: 20px;
    }
    #Content{
      height: 200px;
    }

}
